{% load static %}

<section class="hero-wrap"
  {% if banner_image is None %}
    style="background-image: url({% static 'mariasite/color/site-core/theme/unwind/images/bg_1.jpg' %})"
  {% else %}
    style="background-image: url({{ banner_image }})"

  {% endif %}
    >
    <div class="overlay"></div>
    <div class="container">
      <div class="row no-gutters slider-text align-items-center justify-content-center">
        <div class="col-lg-10 text-center">
          <div style="margin-bottom:4rem !important;">
            <h2 class="maria-header">Mariahill Gardens And Events Services</h2>
            <span class="banner-sub-title mt-3">"A one stop center for all your event needs"</span>
          </div>

        </div>
      </div>
    </div>
</section>