{% load static %}

<section class="ftco-section bg-light">
    <div class="container-xl">
      <div class="row justify-content-center mb-5">
        <div class="col-md-7 heading-section text-center" data-aos="fade-up" data-aos-duration="1000">
          <span class="subheading">Our Blog</span>
          <h2>Recent Posts</h2>
        </div>
      </div>

      <div class="row">
        {% for eachPost in featured_posts %}
          <div class="col-md-6 col-lg-3 d-flex">
            <div class="blog-entry justify-content-end" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100">
              <a href="{% url 'messenger:blog-post' eachPost.id %}" class="block-20 img d-flex align-items-end" style="background-image: url({{ eachPost.heading_image }})">
              </a>

              <div class="text">
                
                <p class="meta">
                  <span>Admin</span> <span>{{ eachPost.date }}</span>
                  <a href="{% url 'messenger:blog-post' eachPost.id %}">{{ eachPost.comment_count }} Comments</a>
                </p>

                <h3 class="heading mb-3">
                  <a href="{% url 'messenger:blog-post' eachPost.id %}">{{ eachPost.heading }}</a>
                </h3>

                <p>
                  {{ eachPost.body_preview }}
                </p>

              </div>
            </div>
          </div>

        {% empty %}

          <div class="d-flex justify-content-center align-items-center">
            <p class="lead">No Posts Yet</p>
          </div>
          
        {% endfor %}

      </div>
    </div>
</section>