<section class="ftco-section bg-light">
    <div class="container">
        <div class="row no-gutters justify-content-center">
            <div class="col-md-12">
                <div class="wrapper">
                    <div class="row g-0">
                        <div class="col-lg-6">
                            <div class="contact-wrap w-100 p-md-5 p-4">
                                <h3>Contact us</h3>
                                <p class="mb-4">We're open for any suggestion or just to have a chat</p>
                            
                                <div class="row mb-4">
                                    {% if contacts.location %}
                                        <div class="col-md-6">
                                            <div class="dbox w-100 d-flex align-items-start">
                                                <div class="text">
                                                    <p><span>Address:</span> {{ contacts.location }}</p>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}

                                    {% if contacts.telephone %}
                                        <div class="col-md-6">
                                            <div class="dbox w-100 d-flex align-items-start">
                                                <div class="text">
                                                    <p><span>Phone:</span> {{ contacts.telephone }}</p>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>

                                <form id="contactForm" action="{% url 'messenger:submit-message' %}" method="post" class="contactForm">
                                    {% csrf_token %}
                                    <div class="row">

                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <input type="text" class="form-control" name="user-name" placeholder="Name" required>
                                            </div>
                                        </div>

                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <input type="email" class="form-control" name="user-email" id="email" placeholder="Email" required>
                                            </div>
                                        </div>

                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <input type="text" class="form-control" name="message-subject" id="subject" placeholder="Subject" required>
                                            </div>
                                        </div>

                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <textarea name="actual-message" class="form-control" id="message" cols="30" rows="4" placeholder="Create a message here" required></textarea>
                                            </div>
                                        </div>

                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <input type="submit" value="Send Message" class="btn btn-primary">
                                                
                                                {% if messages %}
                                                    <div class="submitting">
                                                        {% for eachMessage in messages %}
                                                            <span>{{ eachMessage }}</span>

                                                        {% endfor %}
                                                    </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </form>

                                <div class="w-100 social-media mt-5">
                                <h3>Follow us here</h3>
                                    <p>
                                        {% if contacts.twitter %}
                                            <a href="{{ contacts.twitter }}"><span class="fa fa-twitter" style="font-size: 12px;"></span></a>
                                        {% endif %}

                                        {% if contacts.facebook %}
                                            <a href="{{ contacts.facebook }}"><span class="fa fa-facebook" style="font-size: 12px;"></span></a>
                                        {% endif %}

                                        {% if contacts.instagram %}
                                            <a href="{{ contacts.instagram }}"><span class="fa fa-instagram" style="font-size: 12px;"></span></a>
                                        {% endif %}

                                        {% if contacts.whatsapp %}
                                            <a href="{{ contacts.whatsapp }}"><span class="fa fa-whatsapp" style="font-size: 12px;"></span></a>
                                        {% endif %}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 d-flex align-items-stretch">
                        <div id="map" class="bg-white">
                                <iframe style="height:100%;width:100%;border:0;" frameborder="0" src="https://www.google.com/maps/embed/v1/place?q=Entebbe+Road,+Kampala,+Uganda&key=AIzaSyBFw0Qbyq9zTFTd-tUY6dZWTgaQzuU17R8"></iframe>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>