{% load static %}

<section class="ftco-section-counter">
    <div class="container">
      <div class="row section-counter">
        <div
          class="col-6 col-sm-6 col-md-6 col-lg-3 d-flex align-items-stretch"
          data-aos="fade-up"
          data-aos-delay="100"
        >
          <div class="counter-wrap">
            <span class="number"><span class="countup">38900</span></span>
            <span class="caption"># of Happy Guests</span>
          </div>
        </div>
        <div
          class="col-6 col-sm-6 col-md-6 col-lg-3 d-flex align-items-stretch"
          data-aos="fade-up"
          data-aos-delay="200"
        >
          <div class="counter-wrap">
            <span class="number"><span class="countup">320</span></span>
            <span class="caption"># of Rooms</span>
          </div>
        </div>
        <div
          class="col-6 col-sm-6 col-md-6 col-lg-3 d-flex align-items-stretch"
          data-aos="fade-up"
          data-aos-delay="300"
        >
          <div class="counter-wrap">
            <span class="number"><span class="countup">1000</span></span>
            <span class="caption"># of Staffs</span>
          </div>
        </div>
        <div
          class="col-6 col-sm-6 col-md-6 col-lg-3 d-flex align-items-stretch"
          data-aos="fade-up"
          data-aos-delay="400"
        >
          <div class="counter-wrap">
            <span class="number"><span class="countup">587</span></span>
            <span class="caption"># of Destination</span>
          </div>
        </div>
      </div>
      <div class="row"></div>
    </div>
</section>