{% load static %}

<section class="ftco-gallery">
  
    <div class="container-fluid">
      <div class="site-section first-section">
        <div class="container">
          <div class="mb-5"></div>

          <div class="row">

            {% for eachImageGroup in gallery_images %}

              {% for eachImageObject in eachImageGroup %}
                <div class="col-md-6 col-lg-3 mb-4"data-aos="fade-up"

                  {% if forloop.counter == 1 %}

                    data-aos-delay

                  {% elif forloop.counter == 2 %}

                    data-aos-delay="100"

                  {% elif forloop.counter == 3 %}
                    data-aos-delay="200"


                  {% else %}

                    data-aos-delay="300"

                  {% endif %} >

                  <a href="{{ eachImageObject.data }}" data-fancybox="gallery">

                    <img src="{{ eachImageObject.data }}" alt="{{ eachImageObject.name }}" class="img-fluid"/>
                  
                  </a>
                </div>

              {% endfor %}

            {% empty %}
              <div class="d-flex justify-content-center align-items-center p-5 m-5">
                <p class="lead m-5 p-5" style="">No Images Yet</p>
              </div>

            {% endfor %}


          </div>

        </div>
      </div>
    </div>

</section>