{% load static %}

<section 
{% if services %}
class="ftco-section"
{% else %}
class="d-none"
{% endif %}
>
    <div class="container-xl">
      <div class="row justify-content-center">
        <div
          class="col-md-8 heading-section text-center mb-5"
          data-aos="fade-up"
          data-aos-duration="1000"
        >
          <span class="subheading">Maria Hill Services</span>
          <h2 class="mb-4">Explore Our Available Services</h2>
        </div>
      </div>
      
      <div class="row justify-content-center">
        {% for eachService in services %}
          <div
            class="col-md-3 col-xl-2 text-center d-flex align-items-stretch"
            data-aos="fade-up"
            data-aos-delay="100"
            data-aos-duration="1000"
          >
            <a href="#" class="services show-service" data-service-name="{{ eachService.name }}" data-service-details="{{ eachService.details }}">
              <div class="icon"><span class="flaticon-special"></span></div>
              <div class="text">
                <h2>{{ eachService.name }}</h2>

                <p>
                  {{ eachService.details }}
                </p>
              </div>
            </a>
          </div>
        {% empty %}
        <div class="col-12 d-flex w-100 justify-content-center mb-5">
          <p class="lead">Coming Soon</p>
        </div>
          
        {% endfor %}
      </div>
    </div>
</section>