{% load static %}

<section class="ftco-section testimony-section bg-light">
    <div class="container-xl">
      <div class="row justify-content-center pb-4">
        <div
          class="col-md-7 text-center heading-section"
          data-aos="fade-up"
          data-aos-duration="1000"
        >
          <span class="subheading">Testimonial</span>
          <h2 class="mb-3">Happy Guests</h2>
        </div>
      </div>

      <div class="row">
        <div
          class="col-md-12"
          data-aos="fade-up"
          data-aos-duration="1000"
          data-aos-delay="100"
        >
          <div class="carousel-testimony">
            {% if testimonials %}
              {% for eachTestimonial in testimonials %}
                <div class="item">
                  <div class="testimony-wrap">
                    <div class="text">
                      <div class="d-flex align-items-center mb-4">
                        <div
                          class="user-img"
                          style="background-image: url({{ eachTestimonial.image }})"
                        >
                          <div
                            class="icon d-flex align-items-center justify-content-center"
                          >
                            <span class="fa fa-quote-left"></span>
                          </div>
                        </div>
                        <div class="ps-3 tx">
                          <p class="name">{{ eachTestimonial.name }}</p>
                          <span class="position">{{ eachTestimonial.position }}</span>
                        </div>
                      </div>
                      <p class="mb-4 msg">
                        {{ eachTestimonial.comment }}
                      </p>
                    </div>
                  </div>
                </div>
              {% endfor %}

            {% else %}
              <div class="col-12 d-flex w-100 justify-content-center">
                <p> No Featured testimonials Yet</p>
              </div>

            {% endif %}

          </div>
        </div>
      </div>
    </div>
</section>