<div class="row w-100">
    <div class="card mb-4 mx-2">
        <h5 class="card-header">Information Cards: About section</h5>
        <div class="card-body demo-vertical-spacing demo-only-element">
            <div class="input-group">
                <span class="input-group-text">New About</span>
                <textarea class="form-control" aria-label="About Maria Hill" placeholder="Information about Maria Hill Gardens"></textarea>
                <button class="btn btn-outline-primary" type="button">
                    <i class="fa-solid fa-circle-plus me-2"></i></i> Save
                </button>
            </div>

            <div class="form-group">
                <label class="form-label lead">Current Information</label>
                <div class="card mb-4">
                    <div class="card-body">
                        <p class="card-text">
                        This is some text within a card body.
                        Jelly lemon drops tiramisu chocolate cake cotton candy soufflé oat cake sweet roll. Sugar plum marzipan dragée
                        topping cheesecake chocolate bar. Danish muffin icing donut.
                        </p>
                    </div>
                </div>

            </div>

            
        </div>
    </div>
</div>

