
<div class="row w-100">
    <div class="card mb-4 mx-2">
        <h5 class="card-header">Event Categories</h5>
        <div class="card-body demo-vertical-spacing demo-only-element">
            <div class="input-group">
                <input type="text" class="form-control" name="category-name" placeholder="Category Name">
                <button class="btn btn-outline-primary" type="button">
                    <i class="fa-solid fa-floppy-disk me-2"></i> Save
                </button>
            </div>
            
            <div class="mt-5">
                <table class="table">
                    <thead>
                      <tr>
                        <th>No.</th>
                        <th>Category</th>
                      </tr>
                    </thead>
                    <tbody class="table-border-bottom-0">
                      <tr>
                        <td>
                            <strong>1</strong>
                        </td>
                        <td>Social Event</td>

                        <td>
                          <div class="dropdown">
                            <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown"><i class="bx bx-dots-vertical-rounded"></i></button>
                            <div class="dropdown-menu">
                              <a class="dropdown-item" href="javascript:void(0);"><i class="bx bx-edit-alt me-1"></i> Edit</a>
                              <a class="dropdown-item" href="javascript:void(0);"><i class="bx bx-trash me-1"></i> Delete</a>
                            </div>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
