
<div class="row w-100">
  <section id="categories-section">
    <div class="card mb-4 mx-2">
      <h5 class="card-header"> <i class="fa-solid fa-list me-2"></i>Event Categories</h5>
      <div class="card-body demo-vertical-spacing demo-only-element">
          <form action="{% url 'admin_panel:insert-category' %}" method="post">
            {% csrf_token %}
            <div class="input-group">
              <input type="text" class="form-control" name="category-name" placeholder="Category Name" required>
              <button class="btn btn-outline-primary" type="submit">
                  <i class="fa-solid fa-floppy-disk me-2"></i> Save
              </button>
          </div>
          </form>
          
          <div class="mt-5">
              <table class="table">
                  <thead>
                    <tr>
                      <th>No.</th>

                      <th>Category</th>
                      
                      <th>Controls</th>
                    </tr>
                  </thead>
                  <tbody class="table-border-bottom-0">
                      {% for eachCategoryObject in categories %}
                        <tr>
                          <td>
                              <strong>{{ forloop.counter  }}</strong>
                          </td>

                          <td>{{ eachCategoryObject.category }}</td>

                          <td>
                            <div class="dropdown">
                              <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown"><i class="bx bx-dots-vertical-rounded"></i></button>
                              <div class="dropdown-menu">
                                <a class="dropdown-item" href="{% url 'admin_panel:delete-category' eachCategoryObject.tag %}"><i class="bx bx-trash me-1"></i> Delete</a>
                              </div>
                            </div>
                          </td>
                        </tr>

                      {% empty %}

                        <p class="lead">No Categories yet</p>

                      {% endfor %}
                  </tbody>
              </table>
          </div>
      </div>
  </div>

  </section>
</div>
