<div class="offcanvas offcanvas-end" id="image-control-view" role="dialog">
    <div class="offcanvas-header border-bottom">

        <h5 class="offcanvas-title">
            <i class='bx bxs-file-image bx-burst me-2'></i>Image Viewer
        </h5>

        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"></button>
    </div>

    <div class="offcanvas-body flex-grow-1">

        <div class="col-sm-12">
            <div class="mb-4">
                <div class="p-1" style="max-width: auto; max-height:auto;">
                    <img src="" alt="" class="img-fluid rounded" class="image-preview-holder">

                </div>

                        
                <div class="form-text" id="image-name-holder">
                    Name of Image appears here
                </div>
            </div>
        </div>

        <div class="col-sm-12">
            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="offcanvas">Close Preview</button>
        </div>

    </div>
</div>