<!-- general image display -->
<div class="modal fade" id="image-display-modal" tabindex="-1" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered1 modal-simple">
        <div class="modal-content p-3 p-md-5">
            <div class="modal-body">
                <button type="button" class="btn-close" id="imageViewerCloseButton"></button>
                <div id="modal-image-preview">
                    <img src="" alt="" id="modal-image-display" class="img-fluid">
                </div>
                
            </div>
        </div>
    </div>
</div>