{% extends "mariadmin/home-layout.html" %}

{% load static %}

{% block page_css %}
    <style>
        .simple-drop-zone{
            padding: 1.5rem;
            border-radius: 0.3125rem;
        }

        @media(min-width:768px){
            .simple-drop-zone{
                border-right: 2px dashed gray;
            }
        }

        .ds-message {
            color: #516377;
        }

        #image-container{
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            border-radius: 5px;
            max-width: 400px;
            max-height: auto;
        }

        #modal-image-preview{
            overflow: hidden;
            

        }
    </style>


{% endblock %}


{% block page_content %}

    <div class="row w-100 px-2">
        <div class="col-12">
            <div class="row">
                    <!-- Multi  -->
                <div class="card">
                    <h5 class="card-header">Upload One or Multiple Files</h5>
                    <div class="card-body">
                    <form action="{% url 'messenger:file-manager' %}" enctype="multipart/form-data" method="post" id="files-form">
                        {% csrf_token %}

                        <div class="row">
                            <div class="col-md col-md-7 mb-4 simple-drop-zone">
                                <div class="input-group">
                                    <label class="input-group-text" for="file-field">Upload</label>
                                    <input type="file" class="form-control" name="file-to-upload" id="file-field" accept=".jpg, .jpeg, .png" required>
                                    <button class="btn btn-info" type="button" id="reset-button" disabled>
                                        <i class="fa-solid fa-trash-arrow-up me-1"></i></i> Reset
                                    </button>
                                </div>
                            </div>

                            <div class="col-md col-md-5 ps-3 d-flex justify-content-center align-items-center">
                                <div id="image-container">
                                    <div class="d-flex justify-content-center align-items-center">
                                        <p class="fs-4">Preview Of Selected Image File</p>
                                    </div>
                                </div>
                                
                            </div>

                        </div>

                        <div class="row w-100 justify-content-center mt-5 border-top border-dashed border-secondary pt-3">
                            <button class="btn btn-success w-100" type="submit" id="upload-button" disabled>
                                <i class="fa-solid fa-floppy-disk me-2"></i> Save
                            </button>
                        </div>
                    </form>
                    </div>
                </div>

                <!-- Multi  -->
            </div>

        
        </div>



    </div>

    <div class="row w-100 mt-5">
        <div class="card mb-4 mx-2">
            <h5 class="card-header">Uploaded Files</h5>
            <div class="card-body demo-vertical-spacing demo-only-element">
                <div class="mt-5">
                    <table class="table">
                        <thead>
                          <tr>
                            <th>No.</th>
                            <th>Label Or Name</th>
                            <th>Image Preview</th>
                            <th>Expand Image</th>
                          </tr>
                        </thead>
                        <tbody class="table-border-bottom-0">
                            {% for eachImageInfo in uploads %}
                                <tr>
                                    <td>
                                        <strong>{{ forloop.counter }}</strong>
                                    </td>
                                    <td>{{ eachImageInfo.name }}</td>

                                    <td>
                                        <ul class="list-unstyled users-list m-0 avatar-group d-flex align-items-center">
                                            <li data-bs-toggle="tooltip" data-popup="tooltip-custom" data-bs-placement="top" class="avatar avatar-xs pull-up" aria-label="Simple File"
                                            {% if eachImageInfo.date %}
                                                data-bs-original-title="{{ eachImageInfo.name }} Created on {{ eachImageInfo.date }}"
                                            {% else %}    
                                                data-bs-original-title="{{ eachImageInfo.name }}"
                                            {% endif %}
                                            >

                                            <img src="{{ eachImageInfo.data }}" id="{{ eachImageInfo.name }}-{{ eachImageInfo.id }}" alt="Avatar" class="rounded-circle">
                                            </li>
                                        </ul>
                                    </td>
                                    
                                    <td>
                                        <button class="btn bg-transparent text-dark text-center justify-content-center">
                                            <i class="fa-solid fa-expand image-display-trigger" data-image-url="{{ eachImageInfo.data }}"></i>
                                        </button>
                                        
                                    </td>
        
                                    <td>
                                        <div class="dropdown">
                                            <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown"><i class="bx bx-dots-vertical-rounded"></i></button>
                                            <div class="dropdown-menu">
                                            <a class="dropdown-item" href="{% url 'messenger:wipe-upload' eachImageInfo.id %}"><i class="bx bx-trash me-1"></i> Delete</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            {% empty %}
                                <p>No Uploads Yet</p>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


    </div>
  
    <!-- Modal -->
    <div class="modal fade" id="displayImage" tabindex="-1" aria-hidden="true">
        <!-- modal-add-new-cc -->
        <div class="modal-dialog modal-dialog-centered1 modal-simple">
            <div class="modal-content p-3 p-md-5">
                <div class="modal-body">
                    <button type="button" class="btn-close" id="closeButton"></button>
                    <div id="modal-image-preview">
                        <img src="" alt="" id="modal-image-show" class="img-fluid">
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

{% endblock %}



{% block vendor_js %}

{% endblock %}


{% block page_js %}
    <script type="text/javascript">
        $(document).ready(function() {
            $('#closeButton').on('click', function() {
                $('#displayImage').modal('hide');
        });
    });
    </script>

    <script src="{% static 'mariadmin/local-update/frest/admin/assets/js/own-script.js' %}"></script>




{% endblock %}