<div class="offcanvas offcanvas-end" id="venue-image-details" role="dialog">
    <div class="offcanvas-header border-bottom">

        <h5 class="offcanvas-title">
            <i class='bx bxs-image-alt me-2' ></i>
            Venue Images
        </h5>

        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"></button>
    </div>

    <form action="#" id="venue-token-form">
        {% csrf_token %}
    </form>

    <div class="offcanvas-body flex-grow-1" id="venue-images-show">


    </div>
</div>