{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <title>Maria Hill Gardens | Make Memories With Us</title>

    <meta name="description" content="Create unforgettable memories with us" />
    <meta
      name="keywords"
      content="unforgettable, memories, maria hill, maria hill gardens, maria hill events, maria hill entebbe"
    />

    <!-- online -->
    <link rel="preconnect" href="https://fonts.gstatic.com">

    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&amp;family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&amp;display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/4.5.6/css/ionicons.min.css">

    <!-- <link rel="preconnect" href="{% static 'mariasite/color/fonts.gstatic.com/index.html' %}" />
    <link
      href="{% static 'mariasite/color/fonts.googleapis.com/css25fcd.css?family=Nunito:wght@300;400;600;700&amp;family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&amp;display=swap' %}"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{% static 'mariasite/color/stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' %}"
    />

    <link rel="stylesheet" href="{% static 'mariadmin/local-update/frest/admin/assets/vendor/fonts/fontawesome.css' %}" />
    
    <link
      rel="stylesheet"
      href="{% static 'mariasite/color/cdnjs.cloudflare.com/ajax/libs/ionicons/4.5.6/css/ionicons.min.css' %}"
    /> -->

    <link rel="stylesheet" href="{% static 'mariasite/color/site-core/theme/unwind/css/animate.css' %}" />
    <link rel="stylesheet" href="{% static 'mariasite/color/site-core/theme/unwind/css/flaticon.css' %}" />
    <link rel="stylesheet" href="{% static 'mariasite/color/site-core/theme/unwind/css/tiny-slider.css' %}" />
    <link rel="stylesheet" href="{% static 'mariasite/color/site-core/theme/unwind/css/glightbox.min.css' %}" />
    <link rel="stylesheet" href="{% static 'mariasite/color/site-core/theme/unwind/css/aos.css' %}" />
    <!-- <link rel="stylesheet" href="css/datepicker.min.css" /> -->
    <link rel="stylesheet" href="{% static 'mariasite/color/site-core/theme/unwind/css/style.css' %}" />
  

  </head>
  <body>
        <nav class="navbar navbar-expand-lg ftco-navbar-light">
          <div class="container-xl">
              <a class="navbar-brand align-items-center" href="{% url 'messenger:welcome' %}">
              <span class>Maria <small>Hill Gardens</small></span>
              </a>
              <button
              class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
              >
              <span class="fa fa-bars"></span> Menu
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                  <a class="nav-link active" data-id="1" href="{% url 'messenger:welcome' %}">Home</a>
                  </li>
                  <li class="nav-item">
                  <a class="nav-link" data-id="2" href="{% url 'messenger:about' %}">About</a>
                  </li>
                  <li class="nav-item">
                  <a class="nav-link" data-id="3" href="{% url 'messenger:venue' %}">Venues</a>
                  </li>
                  <li class="nav-item">
                  <a class="nav-link" data-id="4" href="{% url 'messenger:restaurant' %}">Resto &amp; Bar</a>
                  </li>
                  <li class="nav-item">
                  <a class="nav-link" data-id="5" href="{% url 'messenger:blog' %}">Blog</a>
                  </li>

                  {% if request.user.is_authenticated %}
                    <li class="nav-item bg-sm-transparent bg-secondary">
                      <a class="nav-link" data-id="6" href="{% url 'messenger:home' %}">Account</a>
                    </li>

                  {% endif %}
              </ul>
              </div>
          </div>
        </nav>

        {%  block page_main %}

        {% endblock %}

        {% include 'mariasite/sections/footer-section.html' %}

        <script src="{% static 'mariasite/color/site-core/theme/unwind/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'mariasite/color/site-core/theme/unwind/js/tiny-slider.js' %}"></script>
        <script src="{% static 'mariasite/color/site-core/theme/unwind/js/glightbox.min.js' %}"></script>
        <script src="{% static 'mariasite/color/site-core/theme/unwind/js/aos.js' %}"></script>
        <script src="{% static 'mariasite/color/site-core/theme/unwind/js/main.js' %}"></script>
        <script src="{% static 'mariasite/color/site-core/theme/unwind/js/custom-script.js' %}"></script>
    </body>
</html>
