{% load static  %}

<a href="{% url 'messenger:gallery' %}" class="template-customizer-open-btn text-white" data-bs-toggle="tooltip" data-bs-placement="top" title="View Our Gallery" tabindex="-1">
  <i class="fa fa-camera-retro" style="font-size: 20px;"></i>
</a>


<a href="{% url 'userenv:useraccount' %}" class="book-now-btn text-white" data-bs-toggle="tooltip" data-bs-placement="top" title="View Our Gallery" tabindex="-1">
  <img
  src="{% static 'mariasite/color/site-core/theme/unwind/images/logos/logo_svg.svg' %}"
  style="width: 200px; height: auto"
  class="book-mariahill"
  alt="Logo"
/>
</a>
