@font-face {
    font-family: 'EngrvrsOldEng BT'; 
    src: url('EuphoriaScript-Regular.otf') format('opentype'); /* Relative or absolute path to the font file */
    font-weight: normal;
    font-style: normal;
}
