{% load static %}

<!DOCTYPE html>

<html
  lang="en"
  class="light-style layout-navbar-fixed layout-menu-fixed"
  dir="ltr"
  data-theme="theme-default"
  data-assets-path="{% static 'mariadmin/local-update/frest/admin/assets/' %}"
  data-template="vertical-menu-template"
>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />

    <title>Maria Hill Gardens | Admin Dashboard</title>


    <meta name="description" content="Create unforgettable memories with us" />
    <meta
      name="keywords"
      content="unforgettable, memories, maria hill, maria hill gardens, maria hill events, maria hill entebbe"
    />

    <!-- Favicon -->
    <link
      rel="icon"
      type="image/x-icon"
      href="{% static 'mariadmin/local-update/frest/admin/assets/img/favicon/favicon.ico' %}"
    />

    <!-- Google Fonts -->
    <link rel="preconnect" href="{% static 'mariadmin/local-update/fonts.googleapis.com/index.html' %}" />
    
    <link
      rel="preconnect"
      href="{% static 'mariadmin/local-update/fonts.gstatic.com/index.html' %}"
      crossorigin
    />
    <link
      href="https://fonts.googleapis.com/css2e40e.css?family=IBM+Plex+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&amp;family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&amp;display=swap"
      rel="stylesheet"
    />

    <!-- Icons -->
    <link rel="stylesheet" href="{% static 'mariadmin/local-update/frest/admin/assets/vendor/fonts/boxicons.css' %}" />
    <link rel="stylesheet" href="{% static 'mariadmin/local-update/frest/admin/assets/vendor/fonts/fontawesome.css' %}" />
    <link rel="stylesheet" href="{% static 'mariadmin/local-update/frest/admin/assets/vendor/fonts/flag-icons.css' %}" />

    <!-- Core CSS -->
    <link
      rel="stylesheet"
      href="{% static 'mariadmin/local-update/frest/admin/assets/vendor/css/rtl/core.css' %}"
      class="template-customizer-core-css"
    />

    <link
      rel="stylesheet"
      href="{% static 'mariadmin/local-update/frest/admin/assets/vendor/css/rtl/theme-semi-dark.css' %}"
      class="template-customizer-theme-css"
    />
    <link rel="stylesheet" href="{% static 'mariadmin/local-update/frest/admin/assets/css/demo.css' %}" />

    <!-- Vendors CSS -->
    <link
      rel="stylesheet"
      href="{% static 'mariadmin/local-update/frest/admin/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'mariadmin/local-update/frest/admin/assets/vendor/libs/typeahead-js/typeahead.css' %}"
    />

    <link
      rel="stylesheet"
      href="{% static 'mariadmin/local-update/frest/admin/assets/vendor/css/pages/custom-register.css' %}"
    />

    <!-- Page CSS -->
    {% block page_css %}
    {% endblock %}

    <!-- Helpers -->
    <script src="{% static 'mariadmin/local-update/frest/admin/assets/vendor/js/helpers.js' %}"></script>


    <script src="{% static 'mariadmin/local-update/frest/admin/assets/js/config.js' %}"></script>
  </head>

  <body>
    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
      <div class="layout-container">
        <!-- Menu -->

        <aside
          id="layout-menu"
          class="layout-menu menu-vertical menu bg-menu-theme"
        >
          <div class="app-brand demo">
            <a href="#" class="app-brand-link">
              <span class="app-brand-logo demo">
                <i class="bx bx-support" style="font-size: 30px;"></i>
              </span>
              <span class="app-brand-text demo menu-text fw-bold ms-2"
                >Maria Hill</span
              >
            </a>

            <a
              href="javascript:void(0);"
              class="layout-menu-toggle menu-link text-large ms-auto"
            >
              <i
                class="bx menu-toggle-icon d-none d-xl-block fs-4 align-middle"
              ></i>
              <i class="bx bx-x d-block d-xl-none bx-sm align-middle"></i>
            </a>
          </div>

          <div class="menu-divider mt-0"></div>

          <div class="menu-inner-shadow"></div>

          <ul class="menu-inner pt-1 pb-5">
            <li class="menu-header small text-uppercase">
              <span class="menu-header-text">DASHBOARD</span>
            </li>

            <!-- EDITOR -->
            <li class="menu-item">
              <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-layout"></i>
                <div data-i18n="Website Editor">Website Editor</div>
              </a>

              <ul class="menu-sub">
                <li class="menu-item">
                  <a href="layouts-collapsed-menu.html" class="menu-link">
                    <div data-i18n="Navigation Menu Order">
                      Navigation Menu Order
                    </div>
                  </a>
                </li>
                <li class="menu-item">
                  <a href="layouts-content-navbar.html" class="menu-link">
                    <div data-i18n="Sliding Images">Sliding Images</div>
                  </a>
                </li>
                <li class="menu-item">
                  <a
                    href="layouts-content-navbar-with-sidebar.html"
                    class="menu-link"
                  >
                    <div data-i18n="Contact Links">Contact Links</div>
                  </a>
                </li>
                <li class="menu-item">
                  <a href="layouts-blank.html" class="menu-link">
                    <div data-i18n="Blank">Image Gallery</div>
                  </a>
                </li>
              </ul>
            </li>

            <!-- Apps & Pages -->
            <li class="menu-header small text-uppercase">
              <span class="menu-header-text">Apps &amp; Utilities</span>
            </li>
            <li class="menu-item">
              <a href="app-chat.html" class="menu-link">
                <i class="menu-icon tf-icons bx bx-chat"></i>
                <div data-i18n="Chat">Chat</div>
              </a>
            </li>
            <li class="menu-item">
              <a href="app-email.html" class="menu-link">
                <i class="menu-icon tf-icons bx bx-envelope"></i>
                <div data-i18n="Email">Email</div>
              </a>
            </li>
            <li class="menu-item">
              <a href="app-calendar.html" class="menu-link">
                <i class="menu-icon tf-icons bx bx-calendar"></i>
                <div data-i18n="Calendar">Calendar</div>
              </a>
            </li>
            <li class="menu-item">
              <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-food-menu"></i>
                <div data-i18n="Invoice">Invoice</div>
              </a>
              <ul class="menu-sub">
                <li class="menu-item">
                  <a href="app-invoice-list.html" class="menu-link">
                    <div data-i18n="List">List</div>
                  </a>
                </li>
                <li class="menu-item">
                  <a href="app-invoice-preview.html" class="menu-link">
                    <div data-i18n="Preview">Preview</div>
                  </a>
                </li>
                <li class="menu-item">
                  <a href="app-invoice-edit.html" class="menu-link">
                    <div data-i18n="Edit">Edit</div>
                  </a>
                </li>
                <li class="menu-item">
                  <a href="app-invoice-add.html" class="menu-link">
                    <div data-i18n="Add">Add</div>
                  </a>
                </li>
              </ul>
            </li>

            <li class="menu-item">
              <a href="app-user-list.html" class="menu-link">
                <i class="menu-icon tf-icons bx bx-envelope"></i>
                <div data-i18n="Users">Users</div>
              </a>
            </li>
            <li class="menu-item">
              <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-check-shield"></i>
                <div data-i18n="Roles & Permissions">Roles & Permissions</div>
              </a>
              <ul class="menu-sub">
                <li class="menu-item">
                  <a href="app-access-roles.html" class="menu-link">
                    <div data-i18n="Roles">Roles</div>
                  </a>
                </li>
                <li class="menu-item">
                  <a href="app-access-permission.html" class="menu-link">
                    <div data-i18n="Permission">Permission</div>
                  </a>
                </li>
              </ul>
            </li>
            <li class="menu-item">
              <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-dock-top"></i>
                <div data-i18n="Pages">Pages</div>
              </a>
              <ul class="menu-sub">
                <li class="menu-item">
                  <a href="wizard-ex-checkout.html" class="menu-link">
                    <div data-i18n="Pricing">Services</div>
                  </a>
                </li>

                <li class="menu-item">
                  <a href="pages-pricing.html" class="menu-link">
                    <div data-i18n="Pricing">Blog</div>
                  </a>
                </li>
                <li class="menu-item">
                  <a href="pages-pricing.html" class="menu-link">
                    <div data-i18n="Pricing">Pricing</div>
                  </a>
                </li>
              </ul>
            </li>

            <!-- Forms & Tables -->
            <li class="menu-header small text-uppercase">
              <span class="menu-header-text">DATABASE</span>
            </li>

            <!-- Tables -->
            <li class="menu-item">
              <a href="tables-basic.html" class="menu-link">
                <i class="menu-icon tf-icons bx bx-table"></i>
                <div data-i18n="Tables">Tables</div>
              </a>
            </li>
            <li class="menu-item">
              <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-grid"></i>
                <div data-i18n="Datatables">Datatables</div>
              </a>
              <ul class="menu-sub">
                <li class="menu-item">
                  <a href="tables-datatables-basic.html" class="menu-link">
                    <div data-i18n="Basic">Basic</div>
                  </a>
                </li>
                <li class="menu-item">
                  <a href="tables-datatables-advanced.html" class="menu-link">
                    <div data-i18n="Advanced">Advanced</div>
                  </a>
                </li>
                <li class="menu-item">
                  <a href="tables-datatables-extensions.html" class="menu-link">
                    <div data-i18n="Extensions">Extensions</div>
                  </a>
                </li>
              </ul>
            </li>

            <li class="menu-header small text-uppercase">
              <span class="menu-header-text">LOCATION &AMP; DIRECTIONS</span>
            </li>
            <!-- Charts & Maps -->
            <li class="menu-item">
              <a href="maps-leaflet.html" class="menu-link">
                <i class="menu-icon tf-icons bx bx-map-alt"></i>
                <div data-i18n="Leaflet Maps">Leaflet Maps</div>
              </a>
            </li>
          </ul>
        </aside>
        <!-- / Menu -->

        <!-- Layout container -->
        <div class="layout-page">
          <!-- Navbar -->
          <!-- bg-navbar-theme -->
          <nav
            class="layout-navbar navbar navbar-expand-xl align-items-center"
            id="layout-navbar"
          >
            <div class="container-fluid">
              <div
                class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none"
              >
                <a
                  class="nav-item nav-link px-0 me-xl-4"
                  href="javascript:void(0)"
                >
                  <i class="bx bx-menu bx-sm"></i>
                </a>
              </div>

              <div
                class="navbar-nav-right d-flex align-items-center"
                id="navbar-collapse"
              >
                <ul class="navbar-nav flex-row align-items-center ms-auto">
                  <!-- User -->
                  <li class="nav-item navbar-dropdown dropdown-user dropdown">
                    <a
                      class="nav-link dropdown-toggle hide-arrow"
                      href="javascript:void(0);"
                      data-bs-toggle="dropdown"
                    >
                    <div class="avatar d-block flex-shrink-0 avatar-online">
                      <span class="avatar-initial rounded-circle bg-label-sucess">
                        <i class="bx bx-support"></i>
                      </span>
                    </div>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end">
                      <li>
                        <a
                          class="dropdown-item"
                          href="pages-account-settings-account.html"
                        >
                          <div class="d-flex">
                            <div class="flex-shrink-0 me-3">
                              <div class="avatar d-block flex-shrink-0 avatar-online">
                                <span class="avatar-initial rounded-circle bg-label-sucess">
                                  <i class="bx bx-support"></i>
                                </span>
                              </div>
                            </div>
                            <div class="flex-grow-1">
                              <span class="fw-semibold d-block lh-1"
                                >{{ request.user.username.title }}</span
                              >
                              <small>Admin</small>
                            </div>
                          </div>
                        </a>
                      </li>
                      <li>
                        <div class="dropdown-divider"></div>
                      </li>
                      <li>
                        <a class="dropdown-item" href="pages-profile-user.html">
                          <i class="bx bx-user me-2"></i>
                          <span class="align-middle">My Profile</span>
                        </a>
                      </li>

                      <li>
                        <div class="dropdown-divider"></div>
                      </li>

                      <li>
                        <a
                          class="dropdown-item"
                          href="{% url 'messenger:logout-user' %}"
                        >
                          <i class="bx bx-power-off me-2"></i>
                          <span class="align-middle">Log Out</span>
                        </a>
                      </li>
                    </ul>
                  </li>
                  <!--/ User -->
                </ul>
              </div>
            </div>
          </nav>

          <!-- / Navbar -->

          <!-- Content wrapper -->
          <div class="content-wrapper">
            <!-- Content -->

            <div class="container-xxl flex-grow-1 container-p-y">
              <div class="row">
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis
                  tenetur aliquid harum nam amet a maxime dignissimos deserunt
                  neque ullam eius, quaerat voluptatibus magni doloremque dicta
                  cupiditate, quo dolorum earum officia. Explicabo iusto
                  asperiores dicta totam soluta dolores quos. Eligendi porro
                  quis illum consequuntur inventore asperiores animi laudantium
                  voluptatem dolorum adipisci dignissimos hic, exercitationem
                  perspiciatis esse, quidem provident a omnis, voluptate tempore
                  quibusdam quaerat eos ipsa. Quibusdam fugiat reiciendis non
                  quo ducimus iusto iste? Dicta non est quisquam esse neque, sit
                  ad accusantium eligendi id recusandae. Rerum cum repellat
                  accusamus atque quaerat minus incidunt obcaecati molestiae
                  asperiores impedit, enim ratione quibusdam, eum perspiciatis
                  ipsam necessitatibus voluptatem assumenda nobis possimus ex
                  repudiandae voluptatum, nostrum tempora? Illo natus molestias
                  ad error doloremque reiciendis quam velit nulla esse fuga
                  veniam delectus magnam ut, voluptas accusantium, odio fugit
                  eius cupiditate, deserunt eligendi quo beatae repudiandae
                  nostrum! Minima totam officia quia nisi doloremque maxime
                  accusamus atque ipsam architecto, modi enim sed similique
                  aperiam quibusdam voluptas eaque esse? Accusantium quibusdam
                  nostrum fugit, est doloremque suscipit velit consequuntur!
                  Beatae, blanditiis provident iste quis animi quaerat optio
                  sit! Voluptate reiciendis eaque, exercitationem at cupiditate
                  quisquam totam quaerat, nam sint perspiciatis delectus.
                  Reiciendis fuga fugiat expedita ut, ipsum quidem?
                </p>
              </div>
            </div>
            <!-- / Content -->

            <!-- Footer -->
            <footer class="content-footer footer bg-footer-theme">
              <div
                class="container-fluid d-flex flex-wrap justify-content-between py-2 flex-md-row flex-column"
              >
                <div class="mb-2 mb-md-0">
                  ©
                  <script>
                    document.write(new Date().getFullYear());
                  </script>
                  Marial Hill Gardens
                </div>
              </div>
            </footer>
            <!-- / Footer -->

            <div class="content-backdrop fade"></div>
          </div>
          <!-- Content wrapper -->
        </div>
        <!-- / Layout page -->
      </div>

      <!-- Overlay -->
      <div class="layout-overlay layout-menu-toggle"></div>

      <!-- Drag Target Area To SlideIn Menu On Small Screens -->
      <div class="drag-target"></div>
    </div>
    <!-- / Layout wrapper -->

    <!-- Core JS -->
    <script src="{% static 'mariadmin/local-update/frest/admin/assets/vendor/libs/jquery/jquery.js' %}"></script>
    <script src="{% static 'mariadmin/local-update/frest/admin/assets/vendor/libs/popper/popper.js' %}"></script>
    <script src="{% static 'mariadmin/local-update/frest/admin/assets/vendor/js/bootstrap.js' %}"></script>
    <script src="{% static 'mariadmin/local-update/frest/admin/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js' %}"></script>

    <script src="{% static 'mariadmin/local-update/frest/admin/assets/vendor/libs/hammer/hammer.js' %}"></script>

    <script src="{% static 'mariadmin/local-update/frest/admin/assets/vendor/libs/i18n/i18n.js' %}"></script>

    <script src="{% static 'mariadmin/local-update/frest/admin/assets/vendor/libs/typeahead-js/typeahead.js' %}"></script>

    <script src="{% static 'mariadmin/local-update/frest/admin/assets/vendor/js/menu.js' %}"></script>
    <!-- endbuild -->

    {% block vendor_js %}
    {% endblock %}

    <!-- Main JS -->
    <script src="{% static 'mariadmin/local-update/frest/admin/assets/js/main.js' %}"></script>

    <!-- Page JS -->
    {% block page_js %}
    {% endblock %}
    
  </body>
</html>

