{% extends "mariadmin/reglog-layout.html" %}

{% block content %}
  <div class="container-xxl">

    {% include "mariadmin/alert-toast.html" %}


    <div class="authentication-wrapper authentication-basic container-p-y">
      <div class="authentication-inner py-4">
        <!-- Register -->
        <div class="card">
          <div class="card-body">
            <!-- Logo -->
            <div class="app-brand justify-content-center">
              <a href="{% url 'messenger:welcome' %}" class="app-brand-link gap-2">
                <span class="app-brand-logo demo">
                </span>
                <span class="app-brand-text demo h3 mb-0 fw-bold">Mariahill Gardens</span>
              </a>
            </div>
            <!-- /Logo -->
            <h4 class="mb-2">Welcome to Mariahill Gardens 👋</h4>
            <p class="mb-4">
              Please sign-in to your account and start the adventure
            </p>

            <form
              id="formAuthentication"
              class="mb-3"
              action="{% url 'messenger:home' %}"
              method="POST"
            >
              {% csrf_token %}
              <div class="mb-3">
                <label for="email" class="form-label">Email or Username</label>
                <input
                  type="email"
                  class="form-control"
                  id="email"
                  name="email"
                  placeholder="Enter your email or username"
                  autofocus
                />
              </div>
              
              <div class="mb-3 form-password-toggle">
                <div class="d-flex justify-content-between">
                  <label class="form-label" for="password">Password</label>
                  <a href="{% url 'messenger:start-reset' %}">
                    <small>Forgot Password?</small>
                  </a>
                </div>
                <div class="input-group input-group-merge">
                  <input
                    type="password"
                    id="password"
                    class="form-control"
                    name="password"
                    placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                    aria-describedby="password"
                  />
                  <span class="input-group-text cursor-pointer"
                    ><i class="bx bx-hide"></i
                  ></span>
                </div>
              </div>

              <div class="mb-3 mt-4">
                <button class="btn btn-primary d-grid w-100" type="submit">
                  Sign in
                </button>
              </div>
            </form>

            <p class="text-center">
              <span>New on our platform?</span>
              <a href="{% url 'messenger:register' %}">
                <i class='bx bxs-hand-right bx-burst me-1'></i>
                <span>Create an account</span>
              </a>
            </p>

            <div class="divider my-4">
              <div class="divider-text">+</div>
            </div>

            <div class="d-flex justify-content-center">
              <span>All rights reserved</span>
            </div>
          </div>
        </div>
        <!-- /Register -->
      </div>
    </div>
  </div>
{% endblock %}
