{% extends "mariadmin/reglog-layout.html" %}

{% block content %}
    <div class="container-xxl">
      
      {% include "mariadmin/alert-toast.html" %}

      <div
        id="login-holder"
        class="authentication-wrapper authentication-basic container-p-y"
      >
        <div class="authentication-inner py-4">
          <!-- Register Card -->
          <div class="card">
            <div class="card-body">
              <!-- Logo -->
              <div class="app-brand justify-content-center">
                <a href="{% url 'messenger:welcome' %}" class="app-brand-link">
                  <span class="app-brand-text demo h3 mb-0 fw-bold"
                    >Mariahill Gardens</span
                  >
                </a>
              </div>

              <!-- /Logo -->
              <p class="mb-4 text-center">
                First 👋 Create an account?
                <i class='bx bxs-hand-down bx-fade-down'></i>
                then make your bookings
              </p>

              <form
                id="formAuthentication"
                class="mb-3"
                action="{% url 'messenger:register' %}"
                method="POST"
              >
                {% csrf_token %}
                <div class="mb-3">
                  <label for="username" class="form-label">Username</label>
                  <input
                    type="text"
                    class="form-control"
                    id="username"
                    name="username"
                    placeholder="Enter your username"
                    autofocus
                  />
                </div>
                <div class="mb-3">
                  <label for="email" class="form-label">Email</label>
                  <input
                    type="text"
                    class="form-control"
                    id="email"
                    name="email"
                    placeholder="Enter your email"
                  />
                </div>
                <div class="mb-3 form-password-toggle">
                  <label class="form-label" for="password">Password</label>
                  <div class="input-group input-group-merge">
                    <input
                      type="password"
                      id="password"
                      class="form-control"
                      name="password"
                      placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                      aria-describedby="password"
                    />
                    <span class="input-group-text cursor-pointer"
                      ><i class="bx bx-hide"></i
                    ></span>
                  </div>
                </div>

                <div class="mb-3">
                  <div class="form-check">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      id="terms-conditions"
                      name="terms"
                    />
                    <label class="form-check-label" for="terms-conditions">
                      I agree to
                      <a href="javascript:void(0);">privacy policy & terms</a>
                    </label>
                  </div>
                </div>
                <button class="btn btn-primary w-100">
                  <i class='bx bxs-user-plus bx-burst-hover me-2'></i>
                  Sign up
                </button>
              </form>

              <p class="text-center">
                <span>Already have an account?</span>
                <a href="{% url 'messenger:home' %}">
                  <span>Sign in instead</span>
                </a>
              </p>

              <div class="divider my-4">
                <div class="divider-text">+</div>
              </div>

              <div class="d-flex justify-content-center">
                <span>All rights reserved</span>
              </div>
            </div>
          </div>
          <!-- Register Card -->
        </div>
      </div>
    </div>
{% endblock %}



