{% extends "mariasite/core/base.html" %}

{%  block page_main %}
    {% include 'mariasite/sections/banner-section.html' %}

    {% include 'mariasite/sections/redirection-section.html' %}

    {% include 'mariasite/sections/featured-venues.html' %}

    {% include 'mariasite/sections/about-section.html' %}


    {% include 'mariasite/sections/tour-section.html' %}

    {% include 'mariasite/sections/middle-grid.html' %}

    <!--  -->

    {% include 'mariasite/sections/blog-section.html' %}

    {% include "mariadmin/sections/service-viewer.html" %}

{% endblock %}
