{% load static %}

<div class="offcanvas offcanvas-end" id="profile-image-manager" role="dialog" data-bs-backdrop="false">
    <div class="offcanvas-header border-bottom">

        <h5 class="offcanvas-title">
            <i class='bx bxs-info-circle bx-burst me-2' style="font-size: 19px;"></i>Profile Image Setting
        </h5>

        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"></button>
    </div>

    <div class="offcanvas-body flex-grow-1">

        <div class="card-body">
            <div class="d-flex align-items-start align-items-sm-center gap-4">
            
                {% if avatar %}
                <img src="{{ avatar }}" alt="user-avatar" class="d-block rounded-circle" height="100" width="100" id="uploadedAvatar" >
            {% else %}
                <img src="{% static 'mariadmin/local-update/frest/admin/assets/img/avatars/general.png' %}" alt="user-avatar" class="d-block rounded-circle" height="100" width="100" id="uploadedNewAvatar" >
            {% endif %}

            <div class="button-wrapper">
                <label for="upload" class="btn btn-primary me-2 mb-4" tabindex="0">
                    <span class="d-none d-sm-block">Upload new photo</span>
                    <i class="bx bx-upload d-block d-sm-none"></i>
                    <input type="file" id="upload" class="account-file-input" hidden accept="image/png, image/jpeg" />
                </label>

                <form action="{% url 'messenger:update-avatar' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="selected-image-avatar" value="" id="avatar-form-element">

                    <input type="hidden" name="user-id-tag" value="{{ request.user.pk }}">

                    <button type="submit" class="btn btn-label-secondary account-image-reset mb-4 d-none" id="profile-image-saver">
                        <i class="fa fa-check d-block d-sm-none"></i>
                        <span class="d-none d-sm-block">Save As Profile Image</span>
                    </button>
                </form>
    
                <p class="mb-0">Allowed JPG, GIF or PNG. Max size of 800K</p>
            </div>
            </div>
        </div>

        <hr class="my-4">

        <div class="card-body">
            <div class="col-sm-12 mb-4 d-none" id="preview-image-holder">
                <button type="submit" class="btn btn-info w-100" id="preview-image-button">
                    <i class="fa fa-eye me-2"></i> Preview Selected Image
                </button>
            </div>

            <div id="cropper-result-holder">

            </div>
        </div>
        


    </div>
</div>


<div class="offcanvas offcanvas-end" id="profile-security-manager" role="dialog" data-bs-backdrop="false">
    <div class="offcanvas-header border-bottom">

        <h5 class="offcanvas-title">
            <i class='bx bxs-check-shield me-3'></i></i>Account Security
        </h5>

        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"></button>
    </div>

    <div class="offcanvas-body flex-grow-1">
        
        <div class="card-body">
            <form id="userAccountPasswordChange" action="{% url 'messenger:update-local-user-credentials' %}" method="POST">
            
                {% csrf_token %}


                <div class="row">
                    
                    <div class="mb-3 col-md-12 form-password-toggle">
                        <label class="form-label" for="currentPassword">Current Password</label>
                        
                        <div class="input-group input-group-merge">
                            <input class="form-control" type="password" minlength="6" name="user-current-password" id="currentPassword" placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;" required/>
                            
                            <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                        </div>
                    </div>

                </div>

                <input type="hidden" name="user-id-tag" value="{{ request.user.pk }}">

                <div class="row">
                    <div class="mb-3 col-md-12 form-password-toggle">
                        <label class="form-label" for="newPassword">New Password</label>
                        <div class="input-group input-group-merge">
                            <input class="form-control" type="password" minlength="6" id="newPassword" name="user-new-key" placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;" required />
                            
                            <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                        </div>
                    </div>
        
                    <div class="mb-3 col-md-12 form-password-toggle">
                        <label class="form-label" for="confirmPassword">Confirm New Password</label>
                        <div class="input-group input-group-merge">
                            <input class="form-control" type="password" minlength="6" name="confirm-new-key" id="confirmPassword" placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;" required />
                            
                            <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                        </div>
                    </div>

                    <div class="col-12 mb-4">
                        <p class="fw-semibold mt-2">Password Requirements:</p>
                        <ul class="ps-3 mb-0">
                            <li class="mb-1">
                            Minimum 6 characters long - the more, the better
                            </li>
                            <li class="mb-1">Just Ensure your password is memorable</li>
                            <li>At least one number, symbol, or whitespace character</li>
                        </ul>

                    </div>

                    <div class="col-12 mt-1">
                        <button type="submit" class="btn btn-primary me-2">Save changes</button>
                        <button type="reset" class="btn btn-label-secondary" data-bs-dismiss="offcanvas">Cancel</button>
                    </div>

                </div>
            </form>
        </div>

        <hr class="my-4">

        <div class="card-body">
            <div class="col-12 mb-0">
              <div class="alert alert-warning">
                <h6 class="alert-heading mb-1">Are you sure you want to delete your account?</h6>
                <p class="mb-0">Once you delete your account, there is no going back. Please be certain.</p>
              </div>
            </div>
            <form id="formAccountDeactivation" onsubmit="return false">
              <div class="form-check mb-3">
                <input class="form-check-input" type="checkbox" name="accountActivation" id="accountActivation" />
                <label class="form-check-label" for="accountActivation">I confirm my account deactivation</label>
              </div>
              <button type="submit" class="btn btn-danger deactivate-account">Deactivate Account</button>
            </form>
        </div>
        

    </div>
</div>
